@charset "UTF-8";

.grid {
  display: grid;
}

.bg-red {
  background-color: #db2c1f;
  height: calc(100vh);
}

.login-button {
  width: 90%;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
