@charset "UTF-8";

.grid {
  display: grid;
}

.bg-red {
  background-color: #db2c1f;
  height: calc(100vh);
}

.login-button {
  width: 90%;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-x::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}

.text-line-two {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.text-line-one {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
}

.bold {
  font-size: 32px;
  font-weight: 700;
}

.font-blue {
  color: #6389b7;
  font-weight: 500;
}

.small-font {
  font-size: 16px;
  font-weight: 100;
}

.medium-font {
  font-size: 28px;
  font-weight: 500;
}

.big-font {
  font-size: 32px;
  font-weight: 500;
}

.medium-lighter-font {
  font-size: 28px;
  font-weight: 200;
}

.margin-row-4 {
  margin-left: 4%;
  margin-right: 4%;
}

.margin-left-2 {
  margin-left: 4%;
}

.padding-column-2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.margin-auto {
  margin: auto;
}

.padding-4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.small-image {
  width: 100px;
  height: 100px;
}

.mini-image {
  width: 40px;
  height: 40px;
}

.medium-image {
  width: 200px;
  height: 200px;
}

.big-font-icon {
  font-size: 100px;
}

.mini-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.minier-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.micro-icon {
  width: 36px;
  height: 36px;
  position: relative;
  top: 8px;
}

.play-icon {
  font-size: 50px;
}

.small-play-icon {
  font-size: 40px;
}

.play-button {
  height: 30px;
  font-size: 20px;
}

.fixed-left-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.fixed-top {
  position: fixed;
  top: 0px;
  z-index: 998;
}

.rotate {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
